.swiper-button-next {
  justify-content: end;

  &::after {
    padding-left: 3px;
  }
}

.swiper-button-prev {
  // flex-direction: row-reverse;
  justify-content: start;

  &::after {
    padding-right: 3px;
  }
}

.swiper-button-next,
.swiper-button-prev {
  transition: opacity 0.2s ease 0s;
  color: theme-color("primary");
  width: 27px;

  &::after {
    transition: filter 0.1s ease 0s;
    opacity: 0.6;
  }

  &:hover::after {
    transition: filter 0.2s ease 0s;
    filter: drop-shadow(0 0 2px rgba(93, 39, 3, 0.5));
    opacity: 0.8;
  }

  @include media-breakpoint-down(sm) {
    width: 20px;

    &::after {
      font-size: 40px;
    }
  }
}
