/**
  * Main Video
  *
*/
.main-video {
  @include media-breakpoint-up(sm) {
    max-width: 68vw;
  }

  @include media-breakpoint-up(lg) {
    max-width: 60vw;
  }

  @include media-breakpoint-up(lg) {
    max-width: initial;
  }
}

.wistia-player {
  z-index: 2;
  box-shadow: 5px 8px 15px 0 rgba(58, 46, 46, 0.69);
  background: #fff;
  margin: 0 0.5em 0.5em 0.5em;

  .wistia_responsive_padding {
    padding-bottom: 0 !important;
  }
}

.main-video-details {
  padding: 0.5rem 1rem 0.2rem;

  h3 {
    margin-bottom: 0;
  }

  span {
    color: theme-color-level("body-color-default", -4);
    font-size: 0.9rem;
    font-family: sans-serif;
    font-style: italic;
    // reduce level of main theme color to get a muted one
  }

  p {
    line-height: 1.2em;
    margin-bottom: 0;
  }
}
