/*
  VIDEO SHARING BTN AND MODAL
*/

.share-btn {
  border-radius: 0.8em;
  padding: 0 0.4rem;
  font-size: 0.9em;
  line-height: 1.2;
  min-width: 65px;
}

#copy-link,
#copy-embed {
  border-width: 2px;
}

#video-sharing-modal {
  top: 10vh;

  > .modal-dialog {
    @include media-breakpoint-up(md) {
      max-width: 700px;
    }
  }

  button.close {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 2em;
    margin: 0.2em;
    padding: revert;
  }

  .modal-header {
    border-bottom: none;
  }

  .modal-body {
    padding-bottom: 1.5rem;
    padding-top: 0;
  }

  input,
  textarea {
    padding: 0.375rem 0.5rem;
    height: auto;
  }
}

.video-sharing-icon {
  color: $link-color;
  padding: 0;

  &:hover {
    color: darken($link-color, 20%);
  }
}
