@import "common/variables";

/** Import everything from autoload */
@import "./autoload/**/*";

/**
 * Import npm dependencies
 *
 * Prefix your imports with `~` to grab from node_modules/
 * @see https://github.com/webpack-contrib/sass-loader#imports
 */
// @import "~some-node-module";

/** Import theme styles */
@import "common/global";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/wp-classes";
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce";

// Swiper
@import "~swiper/swiper.scss";
@import "~swiper/components/lazy/lazy.scss";
@import "~swiper/components/navigation/navigation.scss";

.swiper-slide {
  text-align: center;
}

// fontawesome-free
@import "~@fortawesome/fontawesome-free/scss/fontawesome";

/* TEXT
* ================================================================ TEXT
*/

// Font setup
@font-face {
  font-family: Yantramanav;
  src: url("../fonts/Yantramanav/Yantramanav-Thin.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: Yantramanav;
  src: url("../fonts/Yantramanav/Yantramanav-Light.ttf") format("truetype");
  font-weight: 200 300;
}

@font-face {
  font-family: Yantramanav;
  src: url("../fonts/Yantramanav/Yantramanav-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: Yantramanav;
  src: url("../fonts/Yantramanav/Yantramanav-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: Yantramanav;
  src: url("../fonts/Yantramanav/Yantramanav-Bold.ttf") format("truetype");
  font-weight: 600 700;
}

@font-face {
  font-family: Yantramanav;
  src: url("../fonts/Yantramanav/Yantramanav-Black.ttf") format("truetype");
  font-weight: 800 900;
}

// H tags
h4 {
  color: theme-color("kr-orange");
}

// Links <a>
a {
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

button {
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

/* LAYOUT
* ================================================================ LAYOUT
*/

/*
 * Mixins for standardized ASPECT RATIO media queries
 * Important Notes:
 *  - when including these mixins, call them in the order below
 *  - When determining the website's behavior, we follow this order
 *    1. Check if the viewer is on a phone-like screen in portrait mode using `@import aspect-ratio-portrait-phones`
 *    2.
 */

// Phones in portrait
@mixin aspect-ratio-portrait-phones {
  @media (max-aspect-ratio: 3/4) {
    background-color: #0bac2f; // green

    @content;
  }
}

// laptops
@mixin aspect-ratio-three-four {
  @media (min-aspect-ratio: 3/4) {
    background-color: #0c4a83; // dusty blue

    @content;
  }
}

// lomg screnz
@mixin aspect-ratio-sixteen-nine {
  @media (min-aspect-ratio: 16/9) {
    background-color: #a30590; //magenta

    @content;
  }
}

// main-video

// testing aspect ratio
// .main-video {
//   @include aspect-ratio-portrait-phones;
//   @include aspect-ratio-three-four;
//   @include aspect-ratio-sixteen-nine;
// }

.wistia-player {
  -webkit-box-shadow: 5px 8px 15px 0 rgba(58, 46, 46, 0.69);
  box-shadow: 5px 8px 15px 0 rgba(58, 46, 46, 0.69);
  background: #fff;
}

.main-video-details {
  padding: 1rem 0 0.2rem;

  h4 {
    display: inline-block;
    color: theme-color("kr-orange");
  }

  span {
    color: theme-color-level("body-color-default", -4);
    font-size: 1rem;
    // reduce level of main theme color to get a muted one
  }

  p {
    line-height: 1.2em;
    margin-bottom: 0;
  }
}

.video-sharing-button-div {
  -webkit-transition: width 0.2s ease 0s;
  -o-transition: width 0.2s ease 0s;
  transition: width 0.2s ease 0s;

  h5 {
    @extend .my-auto;

    font-size: 1.1rem;
  }
}

#video-sharing-modal {
  top: 10vh;

  > .modal-dialog {
    @include media-breakpoint-up(md) {
      max-width: 700px;
    }
  }
}

.video-sharing-icon {
  color: $link-color;
  padding: 0;

  &:hover {
    color: darken($link-color, 20%);
  }
}

// Styling Swiper

.video-slide-text {
  @extend .h6;

  padding-bottom: 0;
  height: $headings-line-height * $h6-font-size * 4 + $headings-margin-bottom;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: white;
  color: theme-color("kr-orange");

  // To make swiper container full height and center icon
  top: 0;
  height: 100%;
  margin-top: 0;
  padding-bottom: $headings-line-height * $h6-font-size * 4 +
    $headings-margin-bottom;
  width: 40px;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}
