@import "common/variables";

/** Import everything from autoload */
@import "./autoload/**/*";

/**
 * Import npm dependencies
 *
 * Prefix your imports with `~` to grab from node_modules/
 * @see https://github.com/webpack-contrib/sass-loader#imports
 */
// @import "~some-node-module";

/** Import theme styles */
@import "common/global";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/wp-classes";
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce";

// Swiper
@import "~swiper/swiper.scss";

// Font setup
@font-face {
  font-family: Yantramanav;
  src: url("../fonts/Yantramanav/Yantramanav-Thin.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: Yantramanav;
  src: url("../fonts/Yantramanav/Yantramanav-Light.ttf") format("truetype");
  font-weight: 200 300;
}

@font-face {
  font-family: Yantramanav;
  src: url("../fonts/Yantramanav/Yantramanav-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: Yantramanav;
  src: url("../fonts/Yantramanav/Yantramanav-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: Yantramanav;
  src: url("../fonts/Yantramanav/Yantramanav-Bold.ttf") format("truetype");
  font-weight: 600 700;
}

@font-face {
  font-family: Yantramanav;
  src: url("../fonts/Yantramanav/Yantramanav-Black.ttf") format("truetype");
  font-weight: 800 900;
}

.test-font {
  font-family: Yantramanav, sans-serif;
}
