.single {
  header::after {
    content: "";
  }

  #sidebar-main {
    position: absolute;
    right: 0;
    margin-right: 1rem;
    margin-top: 20vh;
    padding-top: 1em;

    @include media-breakpoint-up(xl) {
      margin-right: calc((100vw - 1200px) / 5);
    }

    input.search-field {
      max-width: calc(((100vw - 840px) / 2) - 2em);
    }
  }
}
