// Aug 27, 2020
header.banner {
  background-color: rgb(255, 102, 0);

  #kite-rocket-logo-img {
    width: 100%;
  }

  &::after {
    height: 20vh;
    border-bottom-left-radius: 1em;

    @include media-breakpoint-down(md) {
      height: 11vh;
    }

    @include aspect-ratio-phones-portrait() {
      height: 20vw;
    }

    width: 100%;
    // content: "";
    background-color: inherit;
    display: block;
    position: absolute;
    left: 0;
    z-index: -1;
  }
}

nav.navbar {
  padding: 0.7em 0.2em;

  .navbar-brand.brand {
    // width: calc(100vw - 5rem - 30px);
    padding: 0;
    width: calc(90vw - 3rem - 35px);

    @include media-breakpoint-up(sm) {
      width: 100%;
      padding: 0.5em 0;
    }
  }
}

.tax-krvideo-cat .page-header span {
  color: $green;
}
