/**
  * Layout
  *
*/

/**
  * Swiper
  *
*/
@import "~swiper/swiper.scss";
@import "~swiper/components/lazy/lazy.scss";
@import "~swiper/components/navigation/navigation.scss";

.swiper-slide {
  text-align: center;
}

// Styling Swiper
// $swiper-slide-text-height: 75px;
$swiper-slide-text-height: 65px;

.video-slide-text {
  @extend .h6;

  padding-bottom: 0;
  margin-bottom: 0;
  height: $swiper-slide-text-height;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: white;
  color: theme-color("kr-orange");

  // To make swiper container full height and center icon
  top: 0;
  height: 100%;
  margin-top: 0;
  width: 40px;
  padding-bottom: $swiper-slide-text-height;

  // The fuzzy shadow over the videos
  &::before {
    position: absolute;
    background-color: red;
    height: 100%;
    width: 1.2em;
    content: "";
  }
}

// The styling for the shadow gradient near the swiper next and previous buttons
// The mixin takes in one value in degrees which determines the direction of the linear-gradient
// For example, the next button uses: `@inclue swiper-button-shadow-gradient(90deg);`
@mixin swiper-button-shadow-gradient($direction-degrees) {
  &::before {
    right: 100%;
    background: rgba(255, 255, 255, 0);
    background: -moz-linear-gradient(
      $direction-degrees,
      rgba(255, 255, 255, 0) 0,
      rgba(255, 255, 255, 0.35) 40%,
      rgba(255, 255, 255, 0.82) 99%,
      rgba(240, 240, 240, 0.9) 100%
    );
    background: -webkit-linear-gradient(
      $direction-degrees,
      rgba(255, 255, 255, 0) 0,
      rgba(255, 255, 255, 0.35) 40%,
      rgba(255, 255, 255, 0.82) 99%,
      rgba(240, 240, 240, 0.9) 100%
    );
    background: -o-linear-gradient(
      $direction-degrees,
      rgba(255, 255, 255, 0) 0,
      rgba(255, 255, 255, 0.35) 40%,
      rgba(255, 255, 255, 0.82) 99%,
      rgba(240, 240, 240, 0.9) 100%
    );
    background: linear-gradient(
      $direction-degrees,
      rgba(255, 255, 255, 0) 0,
      rgba(255, 255, 255, 0.35) 40%,
      rgba(255, 255, 255, 0.82) 99%,
      rgba(240, 240, 240, 0.9) 100%
    );
  }
}

.swiper-button-next {
  right: 0;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;

  @include swiper-button-shadow-gradient(90deg);
}

.swiper-button-prev {
  left: 0;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;

  @include swiper-button-shadow-gradient(270deg);
}

/**
  * Main Video
  *
*/

// testing aspect ratio
// .main-video {
//   @include aspect-ratio-portrait-phones;
//   @include aspect-ratio-three-four;
//   @include aspect-ratio-sixteen-nine;
// }

.wistia-player {
  -webkit-box-shadow: 5px 8px 15px 0 rgba(58, 46, 46, 0.69);
  box-shadow: 5px 8px 15px 0 rgba(58, 46, 46, 0.69);
  background: #fff;
}

.main-video-details {
  padding: 1rem 0 0.2rem;

  h4 {
    display: inline-block;
    color: theme-color("kr-orange");
  }

  span {
    color: theme-color-level("body-color-default", -4);
    font-size: 1rem;
    // reduce level of main theme color to get a muted one
  }

  p {
    line-height: 1.2em;
    margin-bottom: 0;
  }
}

.video-sharing-button-div {
  -webkit-transition: width 0.2s ease 0s;
  -o-transition: width 0.2s ease 0s;
  transition: width 0.2s ease 0s;

  h5 {
    @extend .my-auto;

    font-size: 1.1rem;
  }
}

#video-sharing-modal {
  top: 10vh;

  > .modal-dialog {
    @include media-breakpoint-up(md) {
      max-width: 700px;
    }
  }
}

.video-sharing-icon {
  color: $link-color;
  padding: 0;

  &:hover {
    color: darken($link-color, 20%);
  }
}
