/**
  * Main Video
  *
*/

.wistia-player {
  z-index: 2;
  -webkit-box-shadow: 5px 8px 15px 0 rgba(58, 46, 46, 0.69);
  box-shadow: 5px 8px 15px 0 rgba(58, 46, 46, 0.69);
  background: #fff;
}

.main-video-details {
  padding: 1rem 0 0.2rem;

  h4 {
    display: inline-block;
    color: theme-color("primary");
  }

  span {
    color: theme-color-level("body-color-default", -4);
    font-size: 1rem;
    // reduce level of main theme color to get a muted one
  }

  p {
    line-height: 1.2em;
    margin-bottom: 0;
  }
}

.video-sharing-button-div {
  -webkit-transition: width 0.2s ease 0s;
  -o-transition: width 0.2s ease 0s;
  transition: width 0.2s ease 0s;

  h5 {
    @extend .my-auto;

    font-size: 1.1rem;
  }
}

#video-sharing-modal {
  top: 10vh;

  > .modal-dialog {
    @include media-breakpoint-up(md) {
      max-width: 700px;
    }
  }
}

#copySocialShareValue {
  font-size: 1rem;

  @include media-breakpoint-up(md) {
    line-height: initial;

    svg {
      display: block;
    }
  }
}

.video-sharing-icon {
  color: $link-color;
  padding: 0;

  &:hover {
    color: darken($link-color, 20%);
  }
}

/**
  * Front Page Video Category Swiper
  *
*/

// USED FOR SWIPER VIDEO-CARD TEXT HEIGHT
// needed to be moved up because of css rules
// Format:  [line-height] * [number of lines for the video title + ([video-card-text padding-top + padding-bottom]) +
//    [height of buffer between title and video date span] + [height of video date span]
$video-card-text-num-lines: 4;
$video-card-text-height: 1em * $video-card-text-num-lines + (0.3em + 0.1em) +
  1em + 1em;
$video-card-text-height-md-up: 1em * $video-card-text-num-lines +
  (0.5em + 0.1em) + 1em + 1em;

.swiper-video-category-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  & > div {
    position: relative;
    width: 100%;
    max-width: 100%;
  }
}

// Each slide
.swiper-slide {
  text-align: center;
  padding: 5px 3px; // makes room for the box-shadow
  font-size: 0.875rem;
  line-height: 1em;

  @include media-breakpoint-up(sm) {
    font-size: 0.95rem;
  }
}

.video-card-text {
  padding: 0.3em 0.1em 0.1em;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: $video-card-text-height;

  > .entry-title {
    flex-grow: 1;
    overflow: hidden;
    font-weight: 400;
  }

  > .text-muted {
    line-height: inherit;
    margin-top: 1em;
  }
}

//shifts whole swiper category row left because it looks funny when the previous button isn't visible
.shift-left {
  @include media-breakpoint-up(md) {
    right: 15px;
  }
}

// Video Category Siwper Slides
.swiper-slide-category {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  font-size: 0.8rem;
  color: theme-color("primary");
  width: 5rem !important;

  @include media-breakpoint-up(xs) {
    font-size: 0.9rem;
    width: 6rem !important;
  }

  @include media-breakpoint-up(sm) {
    margin-left: 25px;
  }

  @include media-breakpoint-up(md) {
    font-size: 1rem;
    margin-left: 30px;
    width: 8rem !important;
  }

  @include media-breakpoint-up(lg) {
    width: 6.5rem !important;
  }
}

.category-icon-div {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.category-svg-icon {
  max-height: 30px;
  max-width: 40px;
  align-self: center;

  @include media-breakpoint-up(xs) {
    max-height: 35px;
  }

  @include media-breakpoint-up(sm) {
    max-height: 45px;
    max-width: 45px;
  }

  @include media-breakpoint-up(sm) {
    max-height: 50px;
  }

  @include media-breakpoint-up(xl) {
    max-height: 60px;
    max-width: 50px;
  }
}

.category-icon-offsetter {
  height: $video-card-text-height;
}

/**
 *  SWIPER VIDEO CATEGORY
 */
.swiper-button-next,
.swiper-button-prev {
  background-color: white;
  color: theme-color("primary");
  box-shadow: 0 0 11px 7px rgba(255, 255, 255, 1);

  // To make swiper container full height and center icon
  top: 0;
  height: 100%;
  margin-top: 0;
  width: 20px;
  padding-bottom: $video-card-text-height;

  @include media-breakpoint-down(sm) {
    width: 20px;

    &::after {
      font-size: 40px;
    }
  }

  @include media-breakpoint-down(xs) {
    width: 0;

    &::after {
      display: none;
    }
  }

  @include media-breakpoint-down(ph) {
    -webkit-box-shadow: 0 0 7px 3px rgba(255, 255, 255, 1);
    box-shadow: 0 0 7px 3px rgba(255, 255, 255, 1);
  }

  &.swiper-button-disabled {
    display: none;
  }

  &::after {
    transition: all 0.1s ease 0s;
    padding: 0 2px;
  }

  &:hover::after {
    transition: all 0.2s ease 0s;
    filter: drop-shadow(0 0 2px rgba(93, 39, 3, 0.5));
  }
}

.swiper-button-next {
  right: 0;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.swiper-button-prev {
  left: 0;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
