/**
  * Layout
  *
*/

/**
  * Swiper
  *
*/
@import "~swiper/swiper.scss";
@import "~swiper/components/lazy/lazy.scss";
@import "~swiper/components/navigation/navigation.scss";

.swiper-video-category-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.swiper-slide {
  text-align: center;
}

//shifts whole swiper category row left because it looks funny when the previous button isn't visible
.shift-left {
  @include media-breakpoint-up(md) {
    right: 15px;
  }
}

// Video Category Siwper Slides

.swiper-slide-video-category {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  line-height: 1.2em;
  color: theme-color("kr-orange");
  width: 6em !important;

  @include media-breakpoint-down(ph) {
    margin-right: 5px !important;
  }

  @include media-breakpoint-up(sm) {
    margin-left: 25px;
  }

  @include media-breakpoint-up(md) {
    margin-left: 30px;
  }
}

.category-icon-div {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.category-svg-icon {
  max-height: 30px;
  max-width: 40px;
  align-self: center;

  @include media-breakpoint-up(xs) {
    max-height: 35px;
  }

  @include media-breakpoint-up(sm) {
    max-height: 40px;
  }

  @include media-breakpoint-up(md) {
    max-height: 50px;
    max-width: 50px;
  }

  @include media-breakpoint-up(xl) {
    max-height: 60px;
    max-width: 50px;
  }
}

// Video Thumbnail Swipe Slides
.swiper-slide-video-thumbnail {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  width: 100%;
}

// USED FOR SWIPER VIDEO DESCRIPTIONS
// needed to be moved up because of css rules
$swiper-slide-text-height: 100px;
$swiper-slide-text-height-xl: 85px;

.category-icon-offsetter {
  height: $swiper-slide-text-height;

  @include media-breakpoint-up(xl) {
    height: $swiper-slide-text-height-xl;
  }
}

.video-slide-text {
  @extend .h6;

  padding-bottom: 0;
  margin-bottom: 0;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: $swiper-slide-text-height;

  @include media-breakpoint-up(xl) {
    height: $swiper-slide-text-height-xl;
  }

  > p {
    flex-grow: 1;
    overflow: hidden;
    padding-top: 0.5em;

    @include media-breakpoint-up(xl) {
      margin-bottom: 1em;
    }
  }

  span {
    font-weight: 300;
    color: theme-color("body-color-default");
  }
}

.swiper-button-next,
.swiper-button-prev {
  background-color: white;
  color: theme-color("kr-orange");
  -webkit-box-shadow: 0 0 11px 7px rgba(255, 255, 255, 1);
  box-shadow: 0 0 11px 7px rgba(255, 255, 255, 1);

  // To make swiper container full height and center icon
  top: 0;
  height: 100%;
  margin-top: 0;
  width: 20px;
  padding-bottom: $swiper-slide-text-height;

  @include media-breakpoint-up(xl) {
    padding-bottom: $swiper-slide-text-height-xl;
  }

  @include media-breakpoint-down(sm) {
    width: 20px;

    &::after {
      font-size: 40px;
    }
  }

  @include media-breakpoint-down(xs) {
    width: 0;

    &::after {
      display: none;
    }
  }

  @include media-breakpoint-down(ph) {
    -webkit-box-shadow: 0 0 7px 3px rgba(255, 255, 255, 1);
    box-shadow: 0 0 7px 3px rgba(255, 255, 255, 1);
  }

  &.swiper-button-disabled {
    display: none;
  }
}

.swiper-button-next {
  right: 0;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.swiper-button-prev {
  left: 0;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

/**
  * Main Video
  *
*/

.wistia-player {
  -webkit-box-shadow: 5px 8px 15px 0 rgba(58, 46, 46, 0.69);
  box-shadow: 5px 8px 15px 0 rgba(58, 46, 46, 0.69);
  background: #fff;
}

.main-video-details {
  padding: 1rem 0 0.2rem;

  h4 {
    display: inline-block;
    color: theme-color("kr-orange");
  }

  span {
    color: theme-color-level("body-color-default", -4);
    font-size: 1rem;
    // reduce level of main theme color to get a muted one
  }

  p {
    line-height: 1.2em;
    margin-bottom: 0;
  }
}

.video-sharing-button-div {
  -webkit-transition: width 0.2s ease 0s;
  -o-transition: width 0.2s ease 0s;
  transition: width 0.2s ease 0s;

  h5 {
    @extend .my-auto;

    font-size: 1.1rem;
  }
}

#video-sharing-modal {
  top: 10vh;

  > .modal-dialog {
    @include media-breakpoint-up(md) {
      max-width: 700px;
    }
  }
}

.video-sharing-icon {
  color: $link-color;
  padding: 0;

  &:hover {
    color: darken($link-color, 20%);
  }
}
