.sidebar {
  font-size: 1.1rem;
  font-weight: 300;

  .menu-main-navigation-container {
    > ul {
      list-style: none;
      padding-inline-start: 1em;
    }
  }

  .search-form {
    margin-block-end: 1em;
  }
}

#sidebar-main,
#sidebar-static {
  position: absolute;
  right: 0;
  
  @include media-breakpoint-down(lg) {
    display: none;
  }
}

#sidebar-mobile {
  @extend .text-light;

  padding-left: 2rem;
  overflow: hidden;
  max-height: 0;
  -webkit-transition: max-height 0.3s ease-out 0.1s;
  -o-transition: max-height 0.3s ease-out 0.1s;
  transition: max-height 0.3s ease-out 0.1s;

  @include media-breakpoint-up(xl) {
    display: none;
  }

  &.is-open {
    max-height: 15rem;
    -webkit-transition: max-height 0.4s ease-in;
    -o-transition: max-height 0.4s ease-in;
    transition: max-height 0.4s ease-in;
  }

  .search-form::before {
    color: inherit;
  }

  input {
    color: rgba(255, 255, 255, 0.9);

    &.search-field {
      border-color: rgba(255, 255, 255, 0.8);

      &::placeholder {
        color: rgba(255, 255, 255, 0.5);
      }
    }
  }

  ul {
    padding-bottom: 2rem;
  }

  a {
    @extend .text-light;
  }
}
