.navbar-collapse,
#sidebar-main {
  ul {
    @extend .navbar-nav;

    margin-left: 1em;
  }
}

.navbar-collapse a {
  @extend .nav-link;

  padding: 0.1rem 1rem;
}

.navbar-static {
  .search-form {
    margin-block-end: 1em;
  }

  @include media-breakpoint-up(sm) {
    flex-flow: wrap;

    .search-form {
      margin-block-end: 0;
    }

    .navbar-collapse {
      justify-content: space-between;
    }
  }
}

.sidebar {
  // font-size: 1.1rem;
  @include font-size(1.1rem);

  font-weight: 300;

  .search-form .search-field {
    width: 100%;
  }
}

// .sidebar-mobile {
//   padding-left: 2rem;
// }
#sidebar-main {
  position: absolute;
  right: 0;
  margin-right: 1em;
  margin-top: 11vh;
  padding-top: 1em;

  .search-form > label {
    width: 100%;
  }

  @include media-breakpoint-down(xs) {
    display: none;
  }

  width: calc(
    100vw - 68vw - 2em - 1em
  ); // [the viewport] - [video div] - [.container-main padding] - [buffer between video and sidebar]

  @include media-breakpoint-up(md) {
    max-width: 170px;
    width: calc(
      100vw - 68vw - 4em - 2em
    ); // same calc as above with corresponding .container-main padding

    margin-right: 1.5em;
  }

  @include media-breakpoint-up(lg) {
    max-width: calc((100vw - 694px) / 2);
    width: 190px;
    padding: 1em 0.5em;
    right: 0;
    margin-top: 20vh;
    margin-right: 0;
  }

  @include media-breakpoint-up(xl) {
    max-width: 200px;
    margin-right: calc((100vw - 1200px) / 4);
  }

  @media (min-width: 1500px) {
    left: calc(50vw + (840px / 2) + 2rem);
  }
}

.navbar {
  @extend .navbar-expand-sm;

  @include media-breakpoint-up(sm) {
    .sidebar-mobile-only {
      display: none !important;
    }
  }

  @extend .text-light;

  input {
    color: rgba(255, 255, 255, 0.9);

    &.search-field {
      border-color: rgba(255, 255, 255, 0.8);

      &::placeholder {
        color: rgba(255, 255, 255, 0.5);
      }
    }
  }

  .search-form::before {
    color: inherit;
  }

  ul li a {
    @extend .text-light;
  }
}

// HAMBURGER
.hamburger {
  outline: none !important;
}
