.sidebar {
  font-size: 1.1rem;
  font-weight: 300;
  z-index: -1;

  .menu-main-navigation-container {
    > ul {
      list-style: none;
      padding-inline-start: 1em;
    }
  }
}

#sidebar-main {
  position: absolute;
  right: 0;
  margin-right: 1rem;
  margin-top: 20vh;
  padding-top: 1em;

  @include media-breakpoint-down(lg) {
    display: none;
  }

  @include media-breakpoint-up(xl) {
    margin-right: calc((100vw - 1200px) / 4);
  }

  input.search-field {
    max-width: calc((100vw - 900px) / 2);
  }
}

#sidebar-mobile {
  padding-left: 2rem;
  overflow: hidden;
  max-height: 0;
  -webkit-transition: max-height 0.3s ease-out 0.1s;
  -o-transition: max-height 0.3s ease-out 0.1s;
  transition: max-height 0.3s ease-out 0.1s;

  @include media-breakpoint-up(xl) {
    display: none;
  }

  &.is-open {
    max-height: 15rem;
    -webkit-transition: max-height 0.4s ease-in;
    -o-transition: max-height 0.4s ease-in;
    transition: max-height 0.4s ease-in;
  }

  input {
    color: rgba(255, 255, 255, 0.9);

    &.search-field {
      border-color: rgba(255, 255, 255, 0.8);

      &::placeholder {
        color: rgba(255, 255, 255, 0.5);
      }
    }
  }

  ul {
    padding-bottom: 2rem;
  }

  a {
    color: rgba(255, 255, 255, 0.8);

    &:hover {
      color: #ffc197;
    }
  }
}
