/**
 *
 * Hamburger icon
 *
 */
$hamburger-padding-x: 0;
$hamburger-padding-y: 0;

$hamburger-layer-width: 35px;
$hamburger-layer-height: 3px;
$hamburger-layer-spacing: 5px;

$hamburger-layer-color: #e2faf7;
$hamburger-types: (minus);

// USED FOR SWIPER VIDEO-CARD TEXT HEIGHT
// needed to be moved up because of css rules
// Format:  [line-height] * [number of lines for the video title + ([video-card-text padding-top + padding-bottom]) +
//  + [height of video date span]
$video-card-text-num-lines-ph: 4;
$video-card-text-num-lines-sm: 2;
$video-card-text-padding-top: 0.4em;
$video-card-text-padding-bottom: 0.2em;
$video-card-text-height: 1em * $video-card-text-num-lines-ph +
  $video-card-text-padding-top + $video-card-text-padding-bottom + 1em;
$video-card-text-height-sm-up: 1em * $video-card-text-num-lines-sm +
  $video-card-text-padding-top + $video-card-text-padding-bottom + 1em;
