// fontawesome-free
@import "~@fortawesome/fontawesome-free/scss/fontawesome";

/*
 Skinny container widths for using the media-breakpoint-up() mixin
*/
$skinny-container-md: 600px;
$skinny-container-lg: 700px;
$skinny-container-xl: 775px;

/* TEXT
* ================================================================ TEXT
*/

// Font setup
@font-face {
  font-family: Yantramanav;
  src: url("../fonts/Yantramanav/Yantramanav-Thin.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: Yantramanav;
  src: url("../fonts/Yantramanav/Yantramanav-Light.ttf") format("truetype");
  font-weight: 200 300;
}

@font-face {
  font-family: Yantramanav;
  src: url("../fonts/Yantramanav/Yantramanav-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: Yantramanav;
  src: url("../fonts/Yantramanav/Yantramanav-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: Yantramanav;
  src: url("../fonts/Yantramanav/Yantramanav-Bold.ttf") format("truetype");
  font-weight: 600 700;
}

@font-face {
  font-family: Yantramanav;
  src: url("../fonts/Yantramanav/Yantramanav-Black.ttf") format("truetype");
  font-weight: 800 900;
}

// H tags
h4 {
  color: theme-color("kr-orange");
}

/* LAYOUT
* ================================================================ LAYOUT
*/

/*
 * Mixins for standardized ASPECT RATIO media queries
 * Important Notes:
 *  - when including these mixins, call them in the order below
 *  - $exact - determines if the content of the block should only apply to that breakpoint and not spill into the following one
 *  - $devcolor - easy way to turn on a background-color for testing
 *
 */

// lomgest screnz
@mixin aspect-ratio-longest($devcolor: false) {
  @media (min-aspect-ratio: 16/9) {
    @if $devcolor {
      background-color: rgba(128, 19, 16, 0.6); // red
    }

    @content;
  }
}

// lomg screnz
@mixin aspect-ratio-sixteen-nine-max($exact: false, $devcolor: false) {
  @if $exact {
    @media (max-aspect-ratio: 16/9) and (min-aspect-ratio: 4/3) {
      @if $devcolor {
        background-color: rgba(128, 59, 16, 0.6); // orange
      }

      @content;
    }
  }

  @else {
    @media (max-aspect-ratio: 16/9) {
      @if $devcolor {
        background-color: rgba(128, 59, 16, 0.6); // orange
      }

      @content;
    }
  }
}

@mixin aspect-ratio-four-three-max($exact: false, $devcolor: false) {
  @if $exact {
    @media (max-aspect-ratio: 4/3) and (max-aspect-ratio: 1/1) {
      @if $devcolor {
        background-color: rgba(128, 120, 16, 0.6); // yellow
      }

      @content;
    }
  }

  @else {
    @media (max-aspect-ratio: 4/3) {
      @if $devcolor {
        background-color: rgba(128, 120, 16, 0.6); // yellow
      }

      @content;
    }
  }
}

// laptops
@mixin aspect-ratio-one-one-max($exact: false, $devcolor: false) {
  @if $exact {
    @media (max-aspect-ratio: 1/1) and (max-aspect-ratio: 3/4) {
      @if $devcolor {
        background-color: rgba(128, 120, 16, 0.6); // yellow
      }

      @content;
    }
  }

  @else {
    @media (max-aspect-ratio: 1/1) {
      @if $devcolor {
        background-color: rgba(128, 120, 16, 0.6); // yellow
      }

      @content;
    }
  }
}

// Phones in portrait
@mixin aspect-ratio-portrait-phones($devcolor: false) {
  @media (max-aspect-ratio: 3/4) {
    @if $devcolor {
      background-color: rgba(16, 104, 128, 0.6); // blue
    }

    @content;
  }
}

.container-main {
  @include make-container(24rem);

  // max-width: 1250px;

  @include aspect-ratio-sixteen-nine-max;
  @include aspect-ratio-four-three-max;

  @include media-breakpoint-down(md) {
    // max-width: 700px;
    padding: inherit {
      right: 8rem;
      left: 8rem;
    }
  }

  @include media-breakpoint-down(sm) {
    padding: inherit {
      right: 4rem;
      left: 4rem;
    }
  }

  @include aspect-ratio-portrait-phones;
}
