// fontawesome-free
@import "~@fortawesome/fontawesome-free/scss/fontawesome";

/*
 Skinny container widths for using the media-breakpoint-up() mixin
*/
$skinny-container-md: 600px;
$skinny-container-lg: 700px;
$skinny-container-xl: 775px;

/* TEXT
* ================================================================ TEXT
*/

// Font setup
@font-face {
  font-family: Yantramanav;
  src: url("../fonts/Yantramanav/Yantramanav-Thin.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: Yantramanav;
  src: url("../fonts/Yantramanav/Yantramanav-Light.ttf") format("truetype");
  font-weight: 200 300;
}

@font-face {
  font-family: Yantramanav;
  src: url("../fonts/Yantramanav/Yantramanav-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: Yantramanav;
  src: url("../fonts/Yantramanav/Yantramanav-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: Yantramanav;
  src: url("../fonts/Yantramanav/Yantramanav-Bold.ttf") format("truetype");
  font-weight: 600 700;
}

@font-face {
  font-family: Yantramanav;
  src: url("../fonts/Yantramanav/Yantramanav-Black.ttf") format("truetype");
  font-weight: 800 900;
}

// H tags
h4 {
  color: theme-color("kr-orange");
}

/* LAYOUT
* ================================================================ LAYOUT
*/

/*
 * Mixins for standardized ASPECT RATIO media queries
 * Important Notes:
 *  - when including these mixins, call them in the order below
 *  - When determining the website's behavior, we follow this order
 *    1. Check if the viewer is on a phone-like screen in portrait mode using `@import aspect-ratio-portrait-phones`
 *    2.
 */

// lomg screnz
@mixin aspect-ratio-sixteen-nine {
  @media (max-aspect-ratio: 16/9) {
    // background-color: #a30590; // magenta

    @content;
  }
}

@mixin aspect-ratio-four-three {
  @media (max-aspect-ratio: 4/3) {
    // background-color: rgba(#80b413, 0.59); // lime

    @content;
  }
}

// laptops
@mixin aspect-ratio-one-one {
  @media (max-aspect-ratio: 1/1) {
    @content;
  }
}

// Phones in portrait
@mixin aspect-ratio-portrait-phones {
  @media (max-aspect-ratio: 3/4) {
    // background-color: #0bac2f; // green

    @content;
  }
}
