/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

// WRITE YOUR BOOSTRAP VARIABLE OVERRIDES HERE

/** FONT STUFF   **/

$enable-responsive-font-sizes: true;
$font-size-base: 0.875rem;

// fonts
$font-family-sans-serif: Yantramanav, sans-serif, -apple-system,
  BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

// colors
// K&R orange
// text colors: body-color-default and link-color-default

$theme-colors: (
  primary: #fa6602,
  kr-orange: #fa6602,
  body-color-default: #706f6f
);

// Body
//
// Settings for the `<body>` element.
$body-color: theme-color("body-color-default");

// links
// $link-color: theme-color("link-color-default");
$link-color: lighten(theme-color("kr-orange"), 10%);
$link-decoration: none;
$link-hover-color: darken($link-color, 20%);
$link-hover-decoration: none;
// Darken percentage for links with `.text-*` class (e.g. `.text-success`)
$emphasized-link-hover-darken-percentage: 40%;
