/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

// WRITE YOUR BOOSTRAP VARIABLE OVERRIDES HERE

// QUICK OPTIONS
$enable-responsive-font-sizes: true;
$enable-shadows: true;
// $enable-gradients: true;

// Color system

// K&R orange
$blue: rgb(102, 175, 233);
$orange: rgb(250, 102, 0);

$primary: $orange;

$theme-colors: (
  "body-color-default": #212529
);

// Body
//
// Settings for the `<body>` element.

// $body-bg: $white;
// $body-color: $gray-900; //#706f6f
// $body-text-align: null;

// LINKS
// $link-color: lighten($primary, 10%);
$link-decoration: none;
// $link-hover-color: darken($link-color, 20%);
$link-hover-decoration: none;
// Darken percentage for links with `.text-*` class (e.g. `.text-success`)
$emphasized-link-hover-darken-percentage: 30%;

// Grid breakpoints
// I added the ph breakpoint for phones in portrait
$grid-breakpoints: (
  ph: 0,
  xs: 420px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

// Components
//
// Define common padding and border radius sizes and more.

$border-radius: 0.25rem;
$border-radius-sm: 0.2rem;
$border-radius-lg: 1rem;

$component-active-bg: $primary;

// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-size-base: 0.875rem;

// fonts
$font-family-sans-serif: Yantramanav, sans-serif, -apple-system,
  BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

// hr
$hr-border-color: rgba(0, 0, 0, 0.2);
$hr-border-width: 4px;

// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

$input-btn-focus-width: 0.15rem;
$input-btn-focus-color-opacity: 0.25;
$input-btn-focus-color: rgba($primary, $input-btn-focus-color-opacity);
$input-btn-focus-box-shadow: 0 0 0 $input-btn-focus-width $input-btn-focus-color;

// Forms
$input-padding-y: 0.1rem;
$input-padding-x: 1rem;
$input-font-size: 1em;
$input-font-weight: 300;

$input-bg: transparent;

$input-border-color: lighten($primary, 15%); //rgba(255, 102, 0, 0.8);
$input-border-width: 2px;
$input-box-shadow: inset 0 1px 3px 1px rgba(0, 0, 0, 0.2);

$input-border-radius: 1em;

/**
 *
 * Hamburger icon
 *
 */
$hamburger-padding-x: 0;
$hamburger-padding-y: 0;
$hamburger-layer-width: 35px;
$hamburger-layer-height: 3px;
$hamburger-layer-spacing: 8px;
$hamburger-layer-color: white;
$hamburger-types: (minus);
